################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/csbAdditional/FileContentIndex/3084ac2d-da26-4143-b657-2faddb6ace3d.vsidx
